# RewriteEngine on

# # Redirect to index.php for all requests except /assets/*
# RewriteCond %{REQUEST_URI} !^/oussama_el_farihi_wiki/assets/
# RewriteRule ^ index.php [L]

# # Allow direct access to assets folder
# <IfModule mod_rewrite.c>
#     RewriteRule ^oussama_el_farihi_wiki/assets/ - [L]
# </IfModule>